<div class="component__inner tabs-audio-inner">
	{{> component this}}
	<div class="component__widget tabs-audio__widget u-clearfix">
		<div class="tabs-audio__navigation">
			<div class="tabs-audio__navigation-inner">
				{{#each _items}}
				<button class="tabs-audio__navigation-item js-tabs-audio-navigation" data-index="{{@index}}">
					<span class="aria-label">{{tabTitle}}.{{#if _isVisited}} {{../_globals._accessibility._ariaLabels.visited}}.{{/if}}</span>
					<span class="tabs-audio__navigation-item-inner">
						{{{compile tabTitle}}}
					</span>
				</button>
				{{/each}}
			</div>
		</div>
		<div class="tabs-audio__items{{#if _showBorder}} border-enabled{{/if}}">
			<div class="tabs-audio__items-inner">
				{{#each _items}}
				<div class="tabs-audio-item item-{{@index}}">
					<div class="tabs-audio-item__inner">
						<div class="tabs-audio-item__text">
							{{#if title}}
							<div class="tabs-audio-item__title">
								<div class="tabs-audio-item__title-inner" role="heading" aria-level="5">
									{{{compile title}}}
								</div>
							</div>
							{{/if}}
							{{#if body}}
							<div class="tabs-audio-item__body">
								<div class="tabs-audio-item__body-inner">
									{{{compile body}}}
								</div>
							</div>
							{{/if}}
							{{#if instruction}}
							<div class="tabs-audio-item__instruction">
								<div class="tabs-audio-item__instruction-inner">
									{{{compile instruction}}}
								</div>
							</div>
							{{/if}}
						</div>
						{{#if _graphic.src}}
						<div class="tabs-audio-item__graphic">
							<img class="tabs-audio-item__graphic-inner" src="{{{_graphic.src}}}" alt="{{{_graphic.alt}}}"/>
						</div>
						{{/if}}
					</div>
				</div>
				{{/each}}
			</div>
		</div>
	</div>
</div>
