<div class="tabsAudio-inner component-inner" role="region" aria-label="{{_globals._components._tabs.ariaRegion}}">
	{{> component this}}
	<div class="tabsAudio-widget component-widget clearfix">
		<div class="tabsAudio-content-items">
			<div class="tabsAudio-content-items-inner">
				{{#each _items}}
				<div class="tabAudio-content item-{{@index}}">
					<div class="tabAudio-content-inner">
						<div class="tabAudio-content-text">
							{{#if title}}
							<div class="tabAudio-content-item-title">
								<div class="tabAudio-content-item-title-inner accessible-text-block" role="heading" aria-level="5">
									{{{compile title}}}
								</div>
							</div>
							{{/if}}
							{{#if body}}
							<div class="tabAudio-content-item-body">
								<div class="tabAudio-content-item-body-inner">
									{{{compile body}}}
								</div>
							</div>
							{{/if}}
							{{#if instruction}}
							<div class="tabAudio-content-instruction">
									<div class="tabAudio-content-instruction-inner">
											{{{compile instruction}}}
									</div>
							</div>
							{{/if}}
						</div>
						{{#if _graphic.src}}
						<div class="tabAudio-content-item-graphic">
							<img class="tabAudio-content-item-graphic-inner" src="{{{_graphic.src}}}" alt="{{{_graphic.alt}}}"/>
						</div>
						{{/if}}
					</div>
				</div>
				{{/each}}
			</div>
		</div>
		<div class="tabsAudio-navigation">
			<div class="tabsAudio-navigation-inner">
				{{#each _items}}
				<button class="base tabsAudio-navigation-item" aria-label="{{{tabTitle}}} {{#if _isVisited}}. Visited{{/if}}" data-id="item-{{@index}}">
					<div class="tabsAudio-navigation-item-inner">
						{{{compile tabTitle}}}
					</div>
				</button>
				{{/each}}
			</div>
		</div>
	</div>
</div>
