<div class="tabs-audio-inner component__inner">
	{{> component this}}
	<div class="tabs-audio-widget component__widget u-clearfix">
		<div class="tabs-audio-navigation">
			<div class="tabs-audio-navigation-inner">
				{{#each _items}}
				<button class="tabs-audio-navigation-item js-tabs-audio-navigation" data-id="item-{{@index}}">
					<span class="aria-label">{{tabTitle}}.{{#if _isVisited}} {{../_globals._accessibility._ariaLabels.visited}}.{{/if}}</span>
					<div class="tabs-audio-navigation-item-inner">
						{{{compile tabTitle}}}
					</div>
				</button>
				{{/each}}
			</div>
		</div>
		<div class="tabs-audio-content-items{{#if _showBorder}} border-enabled{{/if}}">
			<div class="tabs-audio-content-items-inner">
				{{#each _items}}
				<div class="tabs-audio-content item-{{@index}}">
					<div class="tabs-audio-content-inner">
						<div class="tabs-audio-content-text">
							{{#if title}}
							<div class="tabs-audio-content-item-title">
								<div class="tabs-audio-content-item-title-inner" role="heading" aria-level="5">
									{{{compile title}}}
								</div>
							</div>
							{{/if}}
							{{#if body}}
							<div class="tabs-audio-content-item-body">
								<div class="tabs-audio-content-item-body-inner">
									{{{compile body}}}
								</div>
							</div>
							{{/if}}
							{{#if instruction}}
							<div class="tabs-audio-content-instruction">
									<div class="tabs-audio-content-instruction-inner">
											{{{compile instruction}}}
									</div>
							</div>
							{{/if}}
						</div>
						{{#if _graphic.src}}
						<div class="tabs-audio-content-item-graphic">
							<img class="tabs-audio-content-item-graphic-inner" src="{{{_graphic.src}}}" alt="{{{_graphic.alt}}}"/>
						</div>
						{{/if}}
					</div>
				</div>
				{{/each}}
			</div>
		</div>
	</div>
</div>
