<div class="tabsAudio-inner component-inner" role="region" aria-label="{{_globals._components._tabs.ariaRegion}}" {{#if _globals._components._tabs.ariaRegion}}tabindex="0"{{/if}}>
	{{> component this}}
	<div class="tabsAudio-widget component-widget clearfix">

	<div class="tabsAudio-content-items">
		<div class="tabsAudio-content-items-inner">
			{{#each _items}}
			<div class="tabAudio-content item-{{@index}}">
				<div class="tabAudio-content-inner">


				{{#if _graphic}}
					<div class="tabAudio-content-item-graphic">
						<img class="tabAudio-content-item-graphic-inner" src="{{{_graphic.src}}}" alt={{{_graphic.alt}}} tabindex="0"/>
					</div>
					{{/if}}

					<div class="tabAudio-content-text">
						<div class="tabAudio-content-item-title">
							<div class="tabAudio-content-item-title-inner accessible-text-block" role="heading" aria-level="5" tabindex="0">
								{{{title}}}
							</div>
						</div>
						<div class="tabAudio-content-item-body">
							<div class="tabAudio-content-item-body-inner">
								{{{a11y_text body}}}
							</div>
						</div>
					</div>

					

				</div>

			</div>
			{{/each}}
		</div>
	</div>

	<div class="tabsAudio-navigation">
		<div class="tabsAudio-navigation-inner">
			{{#each _items}}
			<a href="#" class="tabsAudio-navigation-item" role="button" aria-label="{{{tabTitle}}} {{#if _isVisited}}. Visited{{/if}}" data-id="item-{{@index}}">
				<div class="tabsAudio-navigation-item-inner">
					{{{tabTitle}}}
				</div>
			</a>
			{{/each}}
		</div>
	</div>

	</div>
</div>
